[project]
	description = Viet-Programmers keyboard layout for Linux / X11. See http://morgwai.pl/vnKeyboard for details.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Piotr Morgwai Kotarbinski (morgwai)
[access "refs/for/refs/*"]
	read = group user/Piotr Morgwai Kotarbinski (morgwai)
	push = group user/Piotr Morgwai Kotarbinski (morgwai)
	label-Code-Review = -2..+2 group user/Piotr Morgwai Kotarbinski (morgwai)
	label-Verified = -1..+1 group user/Piotr Morgwai Kotarbinski (morgwai)
	rebase = group user/Piotr Morgwai Kotarbinski (morgwai)
	removeReviewer = group user/Piotr Morgwai Kotarbinski (morgwai)
	submit = group user/Piotr Morgwai Kotarbinski (morgwai)
[access "refs/heads/*"]
	read = group user/Piotr Morgwai Kotarbinski (morgwai)
	create = group user/Piotr Morgwai Kotarbinski (morgwai)
	push = +force group user/Piotr Morgwai Kotarbinski (morgwai)
	pushMerge = group user/Piotr Morgwai Kotarbinski (morgwai)
[access "refs/tags/*"]
	push = +force group user/Piotr Morgwai Kotarbinski (morgwai)
	pushTag = group user/Piotr Morgwai Kotarbinski (morgwai)
	pushSignedTag = group user/Piotr Morgwai Kotarbinski (morgwai)
[receive]
	requireChangeId = true
[submit]
	action = rebase if necessary
